.user-body {
  width: 100%;
  clear: both;
  min-height: 600px;
  background: #ffffff;
}
.user-body .wrap {
  width: 1330px;
  margin: 0 auto;
  overflow: hidden;
}
.user-body .wrap .wrap1 {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.user-body .wrap .wrap1 .d-box {
  width: 100%;
  overflow: hidden;
  padding: 0px 50px;
  box-sizing: border-box;
}
.user-body .wrap .wrap2 {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
.user-body .wrap div .title {
  padding: 50px 50px 0px 50px;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: 100px;
}
.user-body .wrap div .title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin: 10px 0;
}
.user-body .wrap .wrap3 {
  width: 100%;
  padding: 0 100px;
  margin-top: -50px;
  box-sizing: border-box;
}
.d-box {
  width: 100%;
  height: 100%;
}
.d-box .d-item {
  margin: 10px 30px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  position: relative;
}
.d-box .d-item label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  margin: auto;
  display: inline-block;
  line-height: 60px;
  cursor: pointer;
}
.d-box .d-item label input {
  display: inline-block;
  vertical-align: middle;
  /*让默认的单选样式的圆圈和“男”“女”的文本没有高差，看起来在同一水平线*/
  height: 2.8rem;
  line-height: 2.8rem;
  margin: 0;
  /*清除浏览器默认的外边距*/
}
.d-box .d-item span {
  display: none;
}
.d-box .d-item span.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  margin: auto;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  border: .1rem solid #339fd9;
  color: #339fd9;
  border-radius: .2rem;
}
.d-box .d-item span.active {
  background-color: #339fd9;
  color: #fff;
}
#timebox {
  width: 100%;
  padding: 0px 50px;
  box-sizing: border-box;
  overflow: hidden;
}
#timetable {
  margin: 0 auto;
  cellspacing: 0;
}
#timetable input[type=radio] {
  display: block;
  width: 140px;
  height: 60px;
  z-index: 10;
  cursor: pointer;
}
#timetable td div {
  width: 140px;
  height: 60px;
  text-align: center;
  position: relative;
}
#timetable td div label {
  width: 140px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
#timetable td div span.btn-time {
  background: #ededed;
  box-sizing: border-box;
  position: absolute;
  width: 140px;
  height: 60px;
  top: 0;
  left: 0;
  line-height: 60px;
  cursor: pointer;
  z-index: 2;
}
#timetable td div span.active {
  background: #339fd9;
  color: #ffffff;
}
